.Quick-Transfer{
width: 163px;
height: 33px;
top: 752px;
left: 50px;
font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
}

.common-row{
width: 331px;
height: 42px;
top: 810px;
left: 50px;
display: flex;
flex-direction: row;
align-items: center;
gap:15px;
}
.common-circle{
width: Fixed (294px);
height: Hug (42px);
top: 810px;
left: 50px;
display: flex;
justify-content: space-between;
gap:15px;
}
.circle{
width: 42px;
height: 42px;
border-radius: 42px;
background: #D9D9D9;

}
.send-money{
width: Fixed (159px);
height: Hug (48px);
top: 971px;
left: 50px;
padding-left:30px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
border-radius: 12px;
gap: 10px;
background: #00B3FF;
display: flex;
align-items: center;
justify-content: center;

}
.save-as-draft{
width: Fixed (159px);
height: Hug (48px);
top: 971px;
left: 222px;
padding-left:30px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
border-radius:12px;
gap: 10px;   
background: #e5e7eb;
display: flex;
align-items: center;
justify-content: center;
}

.layout-bottom{
width: 331px;
height: 267px;
top: 752px;
left: 50px;       
}
.card-number{
width: 110px;
height: 24px;
top: 872px;
left: 50px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #AFAFAF;     
}
.input-field{
width: 325px;
height: 43px;
top: 908px;
left: 50px;
border-radius: 8px;
border: 2px solid #00B3FF;      
}
.button{
width: 331px;
height: 48px;
top: 971px;
left: 50px;
border-radius: 12px;
display:flex; 
flex-direction:row;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 20px;
}